<div class="top-wrapper">
	<div id="top">
		<div class="top-logo pull-left">
			{img("logo.gif")}
		</div> 
		<div class="top-titles pull-left">
			<h1>ASOCIACI&Oacute;N MEXICANA DE <br />PROFESIONALES INMOBILIARIOS</h1>
			<h2>Secci&oacute;n {$seccion}</h2>
		</div>
		<div class="clearfix"> </div>
	</div>
</div>

<!-- 
<div id="top">
	<div class="wrapper on-2 columns">
	<div id="logo" class="column fixed">
		<a href="<? echo base_url() . 'home' ?>"><img src="<? echo base_url() . 'inc/' ?>images/plantilla/estilo_general/logo_ampi_new.png" alt="Logo AMPI" /></a>
	</div>
	<div class="column" style="padding-left:20px;">
		<h1 class="color-1">ASOCIACIÓN MEXICANA DE<br />PROFESIONALES INMOBILIARIOS</h1>
		<h2 class="color-2">Sección {$data}</h2>
	</div>
	</div>
</div>

-->






