.pacman{ 
	background:  url("img/pacman.png") no-repeat;
}
.object{
	background-color: #0833da;
}

.casilla{ font-size:8px; background-color:#000; color:#000; }

.fan1{
	background:  url("img/fan1.png") no-repeat;
}
.fan2{
	background:  url("img/fan2.png") no-repeat;
}
.fan3{
	background:  url("img/fan3.png") no-repeat;
}
